.tp {
    font-size: 30px;
}
.home-title {
    font-size: 45px;
}
.home {
    font-size: 45px;
}
.탈무드 {
    font-size: 35px;
    border: 10px solid skyblue;
    padding: 0;
    display: block;
    width: auto;
}
.quiz {
    font-size: 40px;
}
.quiz1 {
    font-size: 35px;
}
.t-tp {
    font-size: 35px;
}
